Repository threeML/astromodels, pull requests merged in 2021-06, with the labels that each got.

#159 CPL added
  astromodels/data/past_1D_values.h5
  astromodels/functions/__init__.py
  astromodels/functions/functions_1D/__init__.py
  astromodels/functions/functions_1D/powerlaws.py
  scripts/past_1D_values.h5
Labels: models

#160 Feature enum sources
  astromodels/core/model.py
  astromodels/core/model_parser.py
  astromodels/sources/__init__.py
  astromodels/sources/extended_source.py
  astromodels/sources/particle_source.py
  astromodels/sources/point_source.py
  astromodels/sources/source.py
Labels: low level framework

#155 Feature better table
  MANIFEST.in
  astromodels/data/tests/old_table.h5
  astromodels/functions/template_model.py
  astromodels/tests/test_template_model.py
Labels: low level framework, models
